.homepagegrid{
    display: grid;
    grid-template-columns: 4.86vw 7.54vw 45.2vw 37.74vw 4.86vw;
    grid-template-rows: 3.7vh 23.08vh 12.44vh 25.45vh 35.33vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.linkToAbout{
    color: #000000;
}

.button p {
    color: white;
}

.headerhp{
    
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start:2;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.headerhp .linklogo{
    height: 100%;
    width: fit-content;
}

.linkToAbout{
    text-decoration: none;
    transition: 0.1s;
}

.linkToAbout:hover{
    color: #4CB5AA;
    transform: scale(1.05);
    transition: 0.1s;
}



.headerhp img{
    height: 120%;
}

.menu{
    min-width: 10%;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>p{
    width: fit-content;
    height: fit-content;
    padding: 6px 0;
    margin: 0 10px;
}

.menu>.actif{
     border-bottom: #4CB5AA 2px solid;
}

.menu>img{
    height: 60%;
    padding-left: 10px;
}

.button{
    background-color: #4CB5AA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button>p{
    width: 80%;
    height: fit-content;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}



.maintext{
    grid-row-start:4;
    grid-column-start: 3;
    grid-row-end: 5;
    min-width:30%;
    width: fit-content;
    
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.maintext>h2{
    font-size: 30px;
    font-weight: bold;
}

.maintext>h2>span{
    color: #4CB5AA;
}

.maintext>h3{
    font-size: 20px;
    font-weight: 300;
}

.maintext>.button{
    width: 50%;
    height: 5vh;
}



.imghomepage{
    
    grid-row-end:6;
    grid-row-start: 4;
    grid-column-end:6;
    grid-column-start: 4;
    max-height: 100%;
    max-width: 60vw;
    justify-self: end;
    align-self: end;
}


.hoverablebgdiv{
    width: 80px;
    height: 80px;
    
    position: absolute
}

.hoverablebgdiv img{
    transition: 0.2s ease-out;
}

.hbgd1:hover img,.hbgd6:hover img{
    transform: translate(150%, 150%);
}

.hbgd4:hover img,.hbgd9:hover img{
    transform: translate(-150%, 150%);
}

.hbgd7:hover img,.hbgd2:hover img{
    transform: translate(150%, -150%);
}

.hbgd3:hover img,.hbgd5:hover img,.hbgd8:hover img{
    transform: translate(-150%, -150%);
}

.hbgd1{
    left: 5vw;
    top: 75vh;
}

.hbgd2{
    left: 15vw;
    top: 25vh;
}

.hbgd3{
    left: 60vw;
    top: 20vh;
}

.hbgd4{
    left: 40vw;
    top: 10vh;
}

.hbgd5{
    left:50vw;
    top: 80vh;
}

.hbgd6{
    left: 85vw;
    top: 17vh;
}

.hbgd7{
    left: 45vw;
    top: 50vh;
}

.hbgd8{
    left: 25vw;
    top: 85vh;
}

.hbgd9{
    left: 70vw;
    top: 40vh;
}

